<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TestApp"
        android:allowBackup="false"
        android:label="AruvoxSDK Test App"
        android:theme="@style/Theme.TestIdentificaSDK">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".AppInCallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <activity
            android:name=".IncomingTestActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".dialer.DialerTestActivity"
            android:exported="true" />

        <activity
            android:name=".spam.SpamSdkTestActivity"
            android:exported="true" />

        <activity
            android:name=".contact.ContactsTestActivity"
            android:exported="true" />

        <activity
            android:name=".callhistory.CallHistoryTestActivity"
            android:exported="true" />

        <activity
            android:name=".components.SdkTestActivity"
            android:exported="true" />

        <service
            android:name=".IncomingScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

    </application>
</manifest>